---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Plan Your Next Date - Actividades en Santiago"
  description="En Plan Your Next Date, explora las mejores actividades románticas para parejas y emocionantes planes para amigos en Santiago, Chile. Encuentra ideas para citas, escapadas, y experiencias únicas en la ciudad."
>
  <section
    class="max-w-[1024px] w-[95%] h-full p-5 bg-[#f5ebd9] rounded-lg my-8"
  >
    <h2 class="mb-1 text-lg font-bold text-gray-700">Filtros</h2>
    <p class="mb-7 text-sm text-gray-900">Selecciona de panorama:</p>
    <!--items en el centro -->
    <div class="flex flex-col lg:flex-row lg:justify-center">
      <ul class="grid grid-cols-2 sm:grid-cols-3 lg:flex lg:shrink-[10] gap-8">
        <li class="flex flex-col items-center min-w-[105px] min-h-[79px] mb-8">
          <input
            type="checkbox"
            id="categoria-naturaleza"
            value="naturaleza"
            class="hidden peer"
          />
          <div class="relative">
            <div
              id="contorno-categoria-naturaleza"
              class="absolute left-5 lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden"
            >
              ✓
            </div>
          </div>
          <label
            for="categoria-naturaleza"
            class="inline-flex p-5 text-gray-700 bg-white border-2 border-gray-700 rounded-full cursor-pointer peer-checked:ring-4 peer-checked:ring-offset-4 peer-checked:ring-[#c2185b] peer-checked: hover:text-gray-600 peer-checked:text-gray-600"
          >
            <div class="flex items-center">
              <img
                src=`img/naturaleza.svg`
                alt="Icono de categoria naturaleza"
                loading="lazy"
                width="32"
                height="32"
              />
              <div class="relative w-full">
                <p class="absolute top-10 left-[-67px] text-lg font-semibold">
                  Naturaleza
                </p>
              </div>
            </div>
          </label>
        </li>
        <li class="flex flex-col items-center min-w-[105px] min-h-[79px] mb-8">
          <input
            type="checkbox"
            id="categoria-cultura"
            value="cultura"
            class="hidden peer"
          />
          <div class="relative">
            <div
              id="contorno-categoria-cultura"
              class="absolute left-5 lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden"
            >
              ✓
            </div>
          </div>
          <label
            for="categoria-cultura"
            class="inline-flex p-5 text-gray-700 bg-white border-2 border-gray-700 rounded-full cursor-pointer peer-checked:ring-4 peer-checked:ring-offset-4 peer-checked:ring-[#c2185b] peer-checked: hover:text-gray-600 peer-checked:text-gray-600"
          >
            <div class="flex items-center">
              <img
                src=`img/cultura.svg`
                alt="Icono de categoria cultura"
                loading="lazy"
                width="32"
                height="32"
              />
              <div class="relative w-full">
                <p class="absolute top-10 left-[-49px] text-lg font-semibold">
                  Cultura
                </p>
              </div>
            </div>
          </label>
        </li>
        <li class="flex flex-col items-center min-w-[105px] min-h-[79px] mb-8">
          <input
            type="checkbox"
            id="categoria-aventura"
            value="aventura"
            class="hidden peer"
          />
          <div class="relative">
            <div
              id="contorno-categoria-aventura"
              class="absolute left-5  lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden"
            >
              ✓
            </div>
          </div>
          <label
            for="categoria-aventura"
            class="inline-flex p-5 text-gray-700 bg-white border-2 border-gray-700 rounded-full cursor-pointer peer-checked:ring-4 peer-checked:ring-offset-4 peer-checked:ring-[#c2185b] peer-checked: hover:text-gray-600 peer-checked:text-gray-600"
          >
            <div class="flex items-center">
              <img
                src=`img/aventura.svg`
                alt="Icono de categoria aventura"
                loading="lazy"
                width="32"
                height="32"
              />
              <div class="relative w-full">
                <p class="absolute top-10 left-[-58px] text-lg font-semibold">
                  Aventura
                </p>
              </div>
            </div>
          </label>
        </li>
        <li class="flex flex-col items-center min-w-[105px] min-h-[79px] mb-8">
          <input
            type="checkbox"
            id="categoria-nocturna"
            value="nocturna"
            class="hidden peer"
          />
          <div class="relative">
            <div
              id="contorno-categoria-nocturna"
              class="absolute left-5  lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden"
            >
              ✓
            </div>
          </div>
          <label
            for="categoria-nocturna"
            class="inline-flex p-5 text-gray-700 bg-white border-2 border-gray-700 rounded-full cursor-pointer peer-checked:ring-4 peer-checked:ring-offset-4 peer-checked:ring-[#c2185b] peer-checked: hover:text-gray-600 peer-checked:text-gray-600"
          >
            <div class="flex items-center">
              <img
                src=`img/nocturna.svg`
                alt="Icono de categoria nocturna"
                loading="lazy"
                width="32"
                height="32"
              />
              <div class="relative w-full">
                <p class="absolute top-10 left-[-66px] text-lg font-semibold">
                  Nocturnas
                </p>
              </div>
            </div>
          </label>
        </li>
        <li class="flex flex-col items-center min-w-[105px] min-h-[79px] mb-8">
          <input
            type="checkbox"
            id="categoria-casera"
            value="casera"
            class="hidden peer"
          />
          <div class="relative">
            <div
              id="contorno-categoria-casera"
              class="absolute left-5  lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden"
            >
              ✓
            </div>
          </div>
          <label
            for="categoria-casera"
            class="inline-flex p-5 text-gray-700 bg-white border-2 border-gray-700 rounded-full cursor-pointer peer-checked:ring-4 peer-checked:ring-offset-4 peer-checked:ring-[#c2185b] peer-checked: hover:text-gray-600 peer-checked:text-gray-600"
          >
            <div class="flex items-center">
              <img
                src=`img/casera.svg`
                alt="Icono de categoria casera"
                loading="lazy"
                width="32"
                height="32"
              />
              <div class="relative w-full">
                <p class="absolute top-10 left-[-52px] text-lg font-semibold">
                  Caseras
                </p>
              </div>
            </div>
          </label>
        </li>
        <li class="flex flex-col items-center min-w-[105px] min-h-[79px] mb-8">
          <input
            type="checkbox"
            id="categoria-desconectar"
            value="desconectar"
            class="hidden peer"
          />
          <div class="relative">
            <div
              id="contorno-categoria-desconectar"
              class="absolute left-5  lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden"
            >
              ✓
            </div>
          </div>
          <label
            for="categoria-desconectar"
            class="inline-flex p-5 text-gray-700 bg-white border-2 border-gray-700 rounded-full cursor-pointer peer-checked:ring-4 peer-checked:ring-offset-4 peer-checked:ring-[#c2185b] peer-checked: hover:text-gray-600 peer-checked:text-gray-600"
          >
            <div class="flex items-center">
              <img
                src=`img/desconectar.svg`
                alt="Icono de categoria desconectar"
                loading="lazy"
                width="32"
                height="32"
              />
              <div class="relative w-full">
                <p class="absolute top-10 left-[-76px] text-lg font-semibold">
                  Desconectar
                </p>
              </div>
            </div>
          </label>
        </li>
      </ul>
      <div
        class="w-min-[105px] flex justify-center mt-8 lg:mt-0 items-center lg:items-start lg:shrink-[2]"
      >
        <div class="none lg:block lg:w-[1px] lg:h-[76px] lg:bg-gray-900 lg:mx-8"></div>
        <button
          id="randomize-btn"
          class="w-[206px] h-[46px] lg:w-[76px] lg:h-[76px] rounded-lg lg:rounded-full text-white font-bold text-center bg-[#c2185b] hover:bg-[#8c0032] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#c2185b]"
        >
          Buscar
        </button>
      </div>
    </div>
  </section>

  <section id="card-container" class="mx-auto w-[95%] max-w-[1024px]"></section>
</Layout>

<script>
  import { data } from "../data/data.js";

  const cardContainer = document.querySelector("#card-container");
  if (cardContainer && cardContainer.innerHTML === "") {
    showCard(data[0]);
  }

  const randomizeBtn = document.getElementById("randomize-btn");
  const checkboxes = document.querySelectorAll('input[type="checkbox"]');
  checkboxes.forEach((checkbox) => {
    checkbox.addEventListener("change", (e:any) => {
      const circle = document.getElementById(
        `contorno-categoria-${e.target?.value}`
      );
      if (e.target?.checked) {
        circle?.classList.remove("hidden");
      } else {
        circle?.classList.add("hidden");
      }
    });
  });

  const filterData = (data: any[]) => {
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');

    const checkedCheckboxes = Array.from(checkboxes).filter(
      (checkbox:any) => checkbox.checked
    );
    const checkedValues = checkedCheckboxes.map((checkbox:any) => checkbox.value);

    if (checkedValues.length === 0) return data;

    return data.filter((item) => checkedValues.includes(item.category));
  };

  if (randomizeBtn) {
    randomizeBtn.addEventListener("click", () => {
    const filteredData = filterData(data);
    const randomItem =
      filteredData[Math.floor(Math.random() * filteredData.length)];

    showCard(randomItem);
  })};

  function showCard(randomItem: any) {
    const card = document.querySelector("#card-container");

    if (card) {
      card.classList.add(
      "relative",
      "mb-8",
      "rounded-lg",
      "border",
      "border-gray-200",
      "shadow",
      "bg-white"
    );
    card.innerHTML = `
      <img class="object-cover w-full rounded-t-lg h-96" src=${randomItem.image} alt="Ejemplo de ${randomItem.name} como experiencia"/>
      <p class="absolute right-[20px] top-[368px] text-white text-center px-3 py-1 rounded-lg bg-[#cf1c58]">
        ${randomItem.category.toUpperCase()[0].toUpperCase() + randomItem.category.slice(1)}
      </p>
      <div class="p-5">
        <p class="mb-2 text-lg font-bold tracking-tight text-gray-900">${randomItem.name}</p>
        <p class="mb-3 font-normal text-gray-700">${randomItem.description}</p>
        ${
          randomItem.duration
            ? `
          <p class="absolute left-[20px] top-[20px] text-white text-center px-3 py-1 rounded-lg bg-[#cf1c58]">
            ${randomItem.duration}
          </p>`
            : "" /*'Sin duración'*/
        }
        <a href="/${randomItem.category}/${randomItem.name.toLowerCase().replace(/ /g, "-").normalize("NFD").replace(/[\u0300-\u036f]/g, "")}" class="text-blue-600 hover:text-blue-800">Leer más</a>
    `;
  }}; 
</script>
