---
import Layout from "../layouts/Layout.astro";
import { data } from "../data/data.js";
---

<Layout
  title="Plan Your Next Date - Actividades en Santiago"
  description="En Plan Your Next Date, explora las mejores actividades románticas para parejas y emocionantes planes para amigos en Santiago, Chile. Encuentra ideas para citas, escapadas, y experiencias únicas en la ciudad."
  canonical="https://planyournextdate.xyz"
>
  <section class="w-4/5 max-w-[1024px] h-full p-5 bg-[#f5ebd9] rounded-lg my-8">
    <h2 class="mb-1 text-lg font-bold text-gray-700">Filtros</h2>
    <p class="mb-7 text-sm text-gray-500">
      Selecciona de panorama:
    </p>
    <!--items en el centro -->
    <ul class="grid grid-cols-2 gap-6 sm:grid-cols-3">
      <li class="flex flex-col items-center min-w-[105px] min-h-[79px] lg:w-[236px] mb-8">
        <input
          type="checkbox"
          id="naturaleza-option"
          value="naturaleza"
          class="hidden peer"
        />
       <div class="relative">
        <div id="circle-naturaleza" class="absolute left-5 lg:left-28 lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden">✓</div>
       </div>
        <label
          for="naturaleza-option"
          class="inline-flex lg:w-[236px] p-5 text-gray-700 bg-white border-2 border-gray-700 lg:rounded-lg rounded-full cursor-pointer peer-checked:border-[3.5px] peer-checked:border-[#E04277] hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src="/img/nature.png"
              class="w-[32px] h-[32px]"
              alt="Opción naturaleza"
            />
            <div class="relative w-full">
              <p class="absolute top-10 left-[-67px] lg:top-[-10px] lg:left-[22px] text-lg font-semibold ">Naturaleza</p>
            </div>
          </div>
        </label>
      </li>
      <li class="flex flex-col items-center min-w-[105px] min-h-[79px] lg:w-[236px] mb-8">
        <input
          type="checkbox"
          id="cultura-option"
          value="cultura"
          class="hidden peer"
        />
        <div class="relative">
          <div id="circle-cultura" class="absolute left-5 lg:left-28 lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden">✓</div>
         </div>
        <label
          for="cultura-option"
          class="inline-flex items-center justify-between lg:w-[236px] p-5 text-gray-700 bg-white border-2 border-gray-700 lg:rounded-lg rounded-full cursor-pointer peer-checked:border-[3.5px] peer-checked:border-[#E04277] hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src="/img/sculpture.png"
              class="w-[32px] h-[32px]"
              alt="Opción cultura"
            />
            <div class="relative w-full">
              <p class="absolute top-10 left-[-49px] lg:top-[-10px] lg:left-[22px] text-lg font-semibold ">Cultura</p>
            </div>
          </div>
        </label>
      </li>
      <li class="flex flex-col items-center min-w-[105px] min-h-[79px] lg:w-[236px] mb-8">
        <input
          type="checkbox"
          id="aventura-option"
          value="aventura"
          class="hidden peer"
        />
        <div class="relative">
          <div id="circle-aventura" class="absolute left-5 lg:left-28 lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden">✓</div>
         </div>
        <label
          for="aventura-option"
          class="inline-flex items-center justify-between lg:w-[236px] p-5 text-gray-700 bg-white border-2 border-gray-700 lg:rounded-lg rounded-full cursor-pointer peer-checked:border-[3.5px] peer-checked:border-[#E04277] hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src="/img/running.webp"
              class="w-[32px] h-[32px]"
              alt="Opción aventura"
            />
            <div class="relative w-full">
              <p class="absolute top-10 left-[-58px] lg:top-[-10px] lg:left-[22px] text-lg font-semibold ">Aventura</p>
            </div>
          </div>
        </label>
      </li>
      <li class="flex flex-col items-center min-w-[105px] min-h-[79px] lg:w-[236px] mb-8">
        <input
          type="checkbox"
          id="nocturnas-option"
          value="nocturnas"
          class="hidden peer"
        />
        <div class="relative">
          <div id="circle-nocturnas" class="absolute left-5 lg:left-28 lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden">✓</div>
         </div>
        <label
          for="nocturnas-option"
          class="inline-flex items-center justify-between lg:w-[236px] p-5 text-gray-700 bg-white border-2 border-gray-700 lg:rounded-lg rounded-full cursor-pointer peer-checked:border-[3.5px] peer-checked:border-[#E04277] hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src="/img/night-mode.webp"
              class="w-[32px] h-[32px]"
              alt="Opción nocturnas"
            />
            <div class="relative w-full">
              <p class="absolute top-10 left-[-66px] lg:top-[-10px] lg:left-[22px] text-lg font-semibold ">Nocturnas</p>
            </div>
          </div>
        </label>
      </li>
      <li class="flex flex-col items-center min-w-[105px] min-h-[79px] lg:w-[236px] mb-8">
        <input
          type="checkbox"
          id="caseras-option"
          value="caseras"
          class="hidden peer"
        />
        <div class="relative">
          <div id="circle-caseras" class="absolute left-5 lg:left-28 lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden">✓</div>
         </div>
        <label
          for="caseras-option"
          class="inline-flex items-center justify-between lg:w-[236px] p-5 text-gray-700 bg-white border-2 border-gray-700 lg:rounded-lg rounded-full cursor-pointer peer-checked:border-[3.5px] peer-checked:border-[#E04277] hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src="/img/home.webp"
              class="w-[32px] h-[32px]"
              alt="Opción caseras"
            />
            <div class="relative w-full">
              <p class="absolute top-10 left-[-52px] lg:top-[-10px] lg:left-[22px] text-lg font-semibold ">Caseras</p>
            </div>
          </div>
        </label>
      </li>
      <li class="flex flex-col items-center min-w-[105px] min-h-[79px] lg:w-[236px] mb-8">
        <input
          type="checkbox"
          id="desconectar-option"
          value="desconectar"
          class="hidden peer"
        />
        <div class="relative">
          <div id="circle-desconectar" class="absolute left-5 lg:left-28 lg:top-[-10px] w-6 h-6 bg-green-500 text-white rounded-full text-center hidden">✓</div>
         </div>
        <label
          for="desconectar-option"
          class="inline-flex items-center justify-between lg:w-[236px] p-5 text-gray-700 bg-white border-2 border-gray-700 lg:rounded-lg rounded-full cursor-pointer peer-checked:border-[3.5px] peer-checked:border-[#E04277] hover:text-gray-600 peer-checked:text-gray-600"
        >
          <div class="flex items-center">
            <img
              src="/img/psychology.webp"
              class="w-[32px] h-[32px]"
              alt="Opción desconectar"
            />
            <div class="relative w-full">
              <p class="absolute top-10 left-[-76px] lg:top-[-10px] lg:left-[22px] text-lg font-semibold ">Desconectar</p>
            </div>
          </div>
        </label>
      </li>
    </ul>
    <div class="w-full flex justify-center mt-8">
      <button
        id="randomize-btn"
        class="w-[260px] text-white bg-[#eb1c63] hover:bg-[#ac1444] focus:outline-none font-bold rounded-lg text-md py-4 text-center"
      >
        Generar panorama
      </button>
    </div>
  </section>

  <section id="card-container" class="mx-auto w-4/5 max-w-[1024px]"></section>
</Layout>

<script>
  import { data } from "../data/data.js";

  if (document.querySelector("#card-container").innerHTML === "") {
    showCard(data[0]);
  }


  const randomizeBtn = document.getElementById("randomize-btn");
  //Si el checkbox seleccionado, se muestra un circulo verde
  const checkboxes = document.querySelectorAll('input[type="checkbox"]');
  checkboxes.forEach((checkbox) => {
    checkbox.addEventListener("change", (e) => {
      const circle = document.getElementById(`circle-${e.target.value}`);
      if (e.target.checked) {
        circle.classList.remove("hidden");
      } else {
        circle.classList.add("hidden");
      }
    });
  });


  const filterData = (data) => {
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');

    const checkedCheckboxes = Array.from(checkboxes).filter(
      (checkbox) => checkbox.checked
    );
    const checkedValues = checkedCheckboxes.map((checkbox) => checkbox.value);

    if (checkedValues.length === 0) return data;

    return data.filter((item) => checkedValues.includes(item.category));
  };

  randomizeBtn.addEventListener("click", () => {
    const filteredData = filterData(data);
    const randomItem =
      filteredData[Math.floor(Math.random() * filteredData.length)];
    
    showCard(randomItem);

    randomizeBtn.textContent = "Generar otro panorama";
  });

  function showCard(randomItem){
    const card = document.querySelector("#card-container");

    card.classList.add('relative', 'mb-8', 'rounded-lg', 'border', 'border-gray-200', 'shadow', 'bg-white');

    card.innerHTML = `
      <img class="object-cover w-full rounded-t-lg h-96" src=${randomItem.image} />
      <p class="absolute right-[20px] top-[20px] text-white text-center px-5 py-1 rounded-lg bg-[#cf1c58]">
        ${randomItem.category.toUpperCase()[0].toUpperCase() + randomItem.category.slice(1)}
      </p>
      <div class="p-5">
        <p class="mb-2 text-lg font-bold tracking-tight text-gray-900">${randomItem.name}</p>
        <p class="mb-3 font-normal text-gray-700">${randomItem.description}</p>
        ${randomItem.duration ? `
          <p class="absolute right-[20px] top-[20px] text-white text-center px-5 py-1 rounded-lg bg-[#cf1c58]">
            ${randomItem.duration}
          </p>` : 'Sin duración'}
      </div>
      ${randomItem.locations ? `
      <div class="p-5 border-t border-gray-200">
        <h3 class="text-2xl font-bold mb-6 text-gray-900">Lugares</h3>
        <ul class=" space-y-6">
          ${randomItem.locations.map(location => `
            <li class="mb-2 ">
              <h4 class="text-[#eb1c63] font-semibold mb-3">${location.name}</h4>
              <p class="text-gray-700 ml-12 mb-3">${location.address}</p>
              <p class="text-gray-700 ml-12 mb-3">${location.price_range}</p>
              <p class="text-gray-700 ml-12 mb-3">${location.reservation_required ? 'Reserva requerida' : 'Sin reserva'}</p>
              <a href="${location.website}" target="_blank" class="text-blue-600 hover:text-blue-800 ml-12">Visitar sitio web</a>
            </li>
          `).join('')}
        </ul>
      </div>` : `
      <div class="p-5 border-t border-gray-200">
        <h3 class="text-2xl font-bold mb-6 text-gray-900">Lugares</h3>
        <p class="text-gray-700">Aun no hay lugares asociados a este panorama.</p>
      </div>`}
      ${randomItem.faq ? `
      <div class="p-5 border-t border-gray-200">
        <h3 class="text-2xl font-bold mb-6 text-gray-900">Preguntas frecuentes</h3>
        <ul class="space-y-4">
          ${randomItem.faq.map(faq => `
            <li class="bg-gray-100 p-4 rounded-lg shadow">
              <details>
                <summary class="font-semibold cursor-pointer text-lg text-gray-800">${faq.question}</summary>
                <p class="mt-2 text-gray-600">${faq.answer}</p>
              </details>
            </li>
          `).join('')}
        </ul>
      </div>` : `
      <div class="p-5 border-t border-gray-200">
        <h3 class="text-2xl font-bold mb-6 text-gray-900">Preguntas frecuentes</h3>
        <p class="text-gray-700">Aún no hay preguntas frecuentes asociadas a este panorama.</p>
      </div>`}
      ${randomItem.related_articles ? `
      <div class="p-5 border-t border-gray-200">
        <h3 class="text-2xl font-bold mb-6 text-gray-900">Artículos relacionados</h3>
        <div class="grid gap-8 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
          ${randomItem.related_articles.map(article => `
            <div class="bg-white shadow-lg rounded-lg overflow-hidden">
              <div class="bg-cover bg-center h-56 p-4" style="background-image: url(${article.image})"></div>
              <div class="p-4">
                <h2 class="text-lg font-bold mb-2">${article.title}</h2>
                <a href="${article.link}" target="_blank" class="text-blue-600 hover:text-blue-800">Leer más</a>
              </div>
            </div>
          `).join('')}
        </div>
      </div>` : `
      <div class="p-5 border-t border-gray-200">
        <h3 class="text-2xl font-bold mb-6 text-gray-900">Artículos relacionados</h3>
        <p class="text-gray-700">Aún no hay artículos relacionados a este panorama.</p>
      </div>`}
      ${randomItem.tags ? `
      <div class="p-5 border-t border-gray-200">
        <h3 class="text-2xl font-bold mb-6 text-gray-900">Tags</h3>
        <div class="mr-2 mb-2">
          ${randomItem.tags.map(tag => `
            <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">${tag}</span>
          `).join('')}
        </div>
      </div>` : `
      <div class="p-5 border border-gray-200">
        <h3 class="mb-2 text-lg font-bold text-gray-900">Tags</h3>
        <p class="text-gray-700">Aun no hay tags asociados a este panorama.</p>
      </div>`}
    `;
  }

</script>
