---
import Filter from "../components/Filter.astro";
import Layout from "../layouts/Layout.astro";

import { data } from "../data/data.js";

const randomItem = data[Math.floor(Math.random() * data.length)];
---

<Layout
  title="Plan Your Next Date - Actividades en Santiago"
  description="Explora las mejores actividades románticas para parejas y planes para amigos en Santiago, Chile. Encuentra ideas únicas para citas y escapadas."
>
  <Filter />

  <section id="card-container" class="mx-auto w-[95%] max-w-[768px] relative mb-8 rounded-lg border border-gray-200 shadow bg-white">
    <img class="object-cover w-full rounded-t-lg h-96" src=`${randomItem.image}` alt=`Ejemplo de ${randomItem.name} como experiencia`/>
    <p id="category-label" class="absolute right-[20px] top-[368px] text-white text-center px-3 py-1 rounded-lg bg-[#cf1c58]">
      {randomItem.category.toUpperCase()[0].toUpperCase() + randomItem.category.slice(1)}
    </p>
    <div class="p-5">
      <p class="mb-2 text-lg font-bold tracking-tight text-gray-900">{randomItem.name}</p>
      <p class="font-normal text-gray-700">{randomItem.description}</p>
      {
        randomItem.duration? 
        <p id="duration-label" class="absolute left-[20px] top-[20px] text-white text-center px-3 py-1 rounded-lg bg-[#cf1c58]">
          {randomItem.duration}
        </p>
          : "" /*'Sin duración'*/
      }
    </div>
    <div class="flex items-end m-5">
      <a id="read-more-link" href={`/${randomItem.category}/${randomItem.slug}`} class="text-[#cf1c58] font-semibold hover:text-[#b71c1c]">
        Leer más
      </a>
    </div>
  </section>

  <div
      class="w-min-[105px] flex justify-center items-center mb-8"
    >
      <button
        id="randomize-btn"
        class="w-[206px] h-[46px] rounded-lg text-white font-bold text-center bg-[#c2185b] hover:bg-[#8c0032] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#c2185b]"
      >
        Buscar
      </button>
    </div>
  </div>

</Layout>

<script>
  import { data } from "../data/data.js";

  const randomizeBtn = document.getElementById("randomize-btn");
  const cardContainer: any = document.getElementById("card-container");

  const filterData = (data: any[]) => {
    const checkboxes = document.querySelectorAll('input[type="checkbox"]');

    const checkedCheckboxes = Array.from(checkboxes).filter(
      (checkbox:any) => checkbox.checked
    );
    const checkedValues = checkedCheckboxes.map((checkbox:any) => checkbox.value);

    if (checkedValues.length === 0) return data;

    return data.filter((item) => checkedValues.includes(item.category));
  };

  if (randomizeBtn) {
    randomizeBtn.addEventListener("click", () => {
    const filteredData = filterData(data);
    const randomItem = filteredData[Math.floor(Math.random() * filteredData.length)];

    //Cambiar la imagen
    cardContainer.querySelector("img").src = randomItem.image;
    cardContainer.querySelector("img").alt = `Ejemplo de ${randomItem.name} como experiencia`;

    //Cambiar la categoría id category
    cardContainer.querySelector("p#category-label").textContent = randomItem.category.toUpperCase()[0].toUpperCase() + randomItem.category.slice(1);

    //Cambiar el nombre
    cardContainer.querySelector("p.text-lg").textContent = randomItem.name;

    //Cambiar la descripción
    cardContainer.querySelector("p.font-normal").textContent = randomItem.description;

    //Cambiar la duración
    if (randomItem.duration) {
      cardContainer.querySelector("p#duration-label").textContent = randomItem.duration;
    } else {
      cardContainer.querySelector("p#duration-label").textContent = "";
    }

    //Cambiar el enlace
    cardContainer.querySelector("a#read-more-link").href = `/${randomItem.category}/${randomItem.slug}`;
  })};
</script>
