---
import Footer from "../components/Footer.astro";
import "@fontsource-variable/montserrat";
interface Props {
  title: string;
  description: string;
  canonical?: string;
}

const { title, description, canonical } = Astro.props;
---

<!doctype html>
<html class="bg-cream" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Plan Your Next Date - Actividades para Parejas y Amigos en Santiago, Chile",
        "url": "https://planyournextdate.xyz",
        "logo": "https://planyournextdate.xyz/favicon/favicon-32x32.png",
        "description": "En Plan Your Next Date, explora las mejores actividades románticas para parejas y emocionantes planes para amigos en Santiago, Chile. Encuentra ideas para citas, escapadas, y experiencias únicas en la ciudad.",
        "contactPoint": {
          "@type": "ContactPoint",
          "areaServed": "CL",
          "availableLanguage": ["Spanish"]
        }
      }
    </script>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
          {
            "@type": "Question",
            "name": "¿Qué tipos de actividades recomiendan en Plan Your Next Date?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Te damos una amplia gama de actividades que incluyen naturaleza, cultura, aventura, nocturnas, caseras y opciones para desconectar, entre otras."
            }
          },
          {
            "@type": "Question",
            "name": "¿Se necesita reservar en todos los locales?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "No, solo en algunos locales como La Fabbrica y Backroom Bar es necesario realizar una reserva previa."
            }
          },
          {
            "@type": "Question",
            "name": "¿Hay descuentos especiales?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Sí, puedes obtener entrada especial en Thelonious para el segundo concierto de viernes y sábado."
            }
          }
        ]
      }
    </script>
    <meta name="msapplication-config" content="/browserconfig.xml" />
    <meta name="description" content={description} />
    <meta name="application-name" content="Plan Your Next Date" />
    <meta
      name="keywords"
      content="actividades para parejas en Santiago, citas románticas Santiago, planes románticos Chile, escapadas románticas Santiago, experiencias únicas Chile, diversión con amigos Santiago, ideas para citas Santiago, Plan Your Next Date Santiago, Plan Your Next Date Chile, Plan Your Next Date"
    />

    <meta
      property="og:image"
      content="https://planyournextdate.xyz/favicon/favicon-32x32.png"
    />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content="Plan Your Next Date" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />

    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta
      name="google-site-verification"
      content="vflthyvgzV_DQ7T_EE5qHtFUixDnY4fA3vFYz3Ts-mc"
    />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="canonical" href={canonical} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <link
      rel="icon"
      type="image/x-icon"
      sizes="16x16"
      href="/favicon-16x16.ico"
    />
    <link
      rel="icon"
      type="image/x-icon"
      sizes="32x32"
      href="/favicon-32x32.ico"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon/android-chrome-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="512x512"
      href="/favicon/android-chrome-512x512.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link rel="icon" type="image/webp" href="/favicon/favicon.webp" />
  </head>
  <body class="flex flex-col min-h-screen min-w-[344px] w-full m-0 p-0">
    <section class="py-8 md:pl-16 pl-14 bg-[#eb1c63]">
      <a href="/" class="flex flex-row">
        <img
          src="/favicon/favicon.webp"
          class="w-[82px] h-[75px]"
          alt="Plan Your Next Date"
        />
        <div class="relative">
          <h1 class="absolute w-44 text-xl font-bold text-white left-3 top-6">
            PLAN YOURN <br /> NEXT DATE
          </h1>
        </div>
      </a>
    </section>
    <main class="flex flex-col items-center justify-center flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
  }
  html {
    font-family: "Montserrat Variable", system-ui, sans-serif;
  }
</style>
