---
import Footer from "../components/Footer.astro";
import "@fontsource-variable/montserrat";
interface Props {
  title: string;
  description: string;
  canonical?: string;
}

const { title, description, canonical } = Astro.props;
---

<!doctype html>
<html class="bg-cream" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "Plan Your Next Date",
        "url": "https://planyournextdate.xyz",
        "logo": "https://planyournextdate.xyz/img/logo.png",
        "description": "En Plan Your Next Date, explora las mejores actividades románticas para parejas y emocionantes planes para amigos en Santiago, Chile."
      }
    </script>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
          {
            "@type": "Question",
            "name": "¿Qué tipos de actividades recomiendan en Plan Your Next Date?",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "Te damos una amplia gama de actividades que incluyen naturaleza, cultura, aventura, nocturnas, caseras y opciones para desconectar, entre otras."
            }
          }
        ]
      }
    </script>

    <meta name="description" content={description} />
    <meta name="application-name" content="Plan Your Next Date" />
    <meta
      name="keywords"
      content="actividades para parejas en Santiago, planes románticos en Chile, ideas para citas en Santiago, escapadas románticas Chile, experiencias únicas Santiago, actividades para amigos en Santiago, diversión con amigos Chile, Plan Your Next Date Chile, Plan Your Next Date Santiago"
    />

    <meta
      property="og:image"
      content="https://planyournextdate.xyz/favicon/favicon-32x32.png"
    />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content="Plan Your Next Date" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="es_ES" />

    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta
      name="google-site-verification"
      content="vflthyvgzV_DQ7T_EE5qHtFUixDnY4fA3vFYz3Ts-mc"
    />
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="canonical" href={canonical} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/favicon/android-chrome-512x512.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/webp" href="/favicon/favicon.webp"/>
  </head>
  <body class="flex flex-col min-h-screen min-w-[344px] w-full m-0 p-0">
    <section class="py-8 md:pl-16 pl-14 bg-[#eb1c63]">
      <a href="/" class="flex flex-row">
        <img
          src="/favicon/favicon.webp"
          class="w-[82px] h-[75px]"
          alt="Plan Your Next Date"
        />
        <div class="relative">
          <h1 class="absolute w-44 text-xl font-bold text-white left-3 top-6">
            PLAN YOURN <br /> NEXT DATE
          </h1>
        </div>
      </a>
    </section>
    <main class="flex flex-col items-center justify-center flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  :root {
  }
  html {
    font-family: "Montserrat Variable", system-ui, sans-serif;
  }
</style>
